{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<h2 class="section-title">About Me</h2>
<p>I’m a full-stack developer who loves turning ideas into functional, beautiful websites.</p>

<h3>Skills</h3>
<div class="skills-container">

    <div class="skill-tag">Python</div>
    <div class="skill-tag">Django</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">JavaScript</div>
    <div class="skill-tag">Git</div>
    <div class="skill-tag">SQL</div>

</div>

{% endblock %}
